<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSUIElement</key>
	<string>YES</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>This app requires access to monitor keyboard shortcuts.</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
</dict>
</plist>
